<html>
    <body>
        <form action='/predict' method="POST">
            Var1: <input type='text' name='var1'><br>
            Var2: <input type='text' name='var2'><br>
            Var3: <input type='text' name='var3'><br>
            Var4: <input type='text' name='var4'><br>
            Var5: <input type='text' name='var5'><br>
            Var6: <input type='text' name='var6'><br>
            Var7: <input type='text' name='var7'><br>
            Var8: <input type='text' name='var8'><br>
            Var9: <input type='text' name='var9'><br>
            Var10: <input type='text' name='var10'><br>
            Var11: <input type='text' name='var11'><br>
            Var12: <input type='text' name='var12'><br>
            Var13: <input type='text' name='var13'><br>
            Var14: <input type='text' name='var14'><br>
            Var15: <input type='text' name='var15'><br>
            Var16: <input type='text' name='var16'><br>
            Var17: <input type='text' name='var17'><br>
            Var18: <input type='text' name='var18'><br>
            Var19: <input type='text' name='var19'><br>
            Var20: <input type='text' name='var20'><br>
            Var21: <input type='text' name='var21'><br>
            Var22: <input type='text' name='var22'><br>
            Var23: <input type='text' name='var23'><br>
            Var24: <input type='text' name='var24'><br>
            Var25: <input type='text' name='var25'><br>
            Var26: <input type='text' name='var26'><br>
            Var27: <input type='text' name='var27'><br>
            Var28: <input type='text' name='var28'><br>
            Var29: <input type='text' name='var29'><br>
            Var30: <input type='text' name='var30'><br>
            Var31: <input type='text' name='var31'><br>
            Var32: <input type='text' name='var32'><br>
            Var33: <input type='text' name='var33'><br>
            Var34: <input type='text' name='var34'><br>
            Var35: <input type='text' name='var35'><br>
            Var36: <input type='text' name='var36'><br>
            
            
            Class: {{result}} <br>
            <input type='submit' value='Predict'>
        </form>
    </body>
</html>